[Unit]
Description=Caddy Reverse Proxy
Documentation=https://caddyserver.com/docs/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=caddy
Group=caddy
ExecStart=/usr/bin/caddy run --environ --config /home/runner/projects/labour-bureau/prod/Caddyfile
ExecReload=/usr/bin/caddy reload --config /home/runner/projects/labour-bureau/prod/Caddyfile --force
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/home/runner/projects/labour-bureau/prod/caddy_data /home/runner/projects/labour-bureau/prod/caddy_config
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
